[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/multicaller"]
	path = lib/multicaller
	url = https://github.com/vectorized/multicaller
[submodule "lib/solady"]
	path = lib/solady
	url = https://github.com/vectorized/solady
[submodule "lib/v4-core"]
	path = lib/v4-core
	url = https://github.com/uniswap/v4-core
